<% title "Edit station '#{@station.name}'" %>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Edit Station <%= @station.name %></h1>

      <%= render 'form' %>
    </div>
  </div>
</div>
