<div class="container">
  <div class="row">
    <div class="col">
      <h1>Stations</h1>
      <%= link_to 'Add a new station', new_station_path, class: 'btn btn-primary mb-3' %>
      <div class="row">
        <% @stations.each do |station| %>
          <div class="col-sm-4 col-md-3 col-lg-2 mb-4">
            <%= link_to(station) do
              content_tag(:h3, station.name)
            end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
