<% title "Edit exhibit '#{@exhibit.id}'" %>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Edit Exhibit <%= @exhibit.id %></h1>

      <%= render 'form' %>
    </div>
  </div>
</div>
