<div class="container">
  <div class="row">
    <div class="col">
      <h1>Exhibits</h1>
      <%= link_to 'Add a new exhibit', new_exhibit_path, class: 'btn btn-primary mb-3' %>
      <div class="row">
        <% @exhibits.each do |exhibit| %>
          <div class="col-sm-4 col-md-3 col-lg-2 mb-4">
            <%= link_to(exhibit) do
              image_tag thumbnail_s(exhibit), class: 'img-fluid'
            end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>