<% title 'New Exhibit' %>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>New Exhibit</h1>

      <%= render 'form' %>

      <%= link_to 'Back', exhibits_path, { class: 'my-3 d-inline-block' } %>
    </div>
  </div>
</div>
