<% content_for :title, "Home" %>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Hilbert Gallery</h1>
      <p>
        <%= link_to 'Control panel', '/control_panel' %>
      </p>
      <ul>
        <li><%= link_to 'Station 1', '/stations/1' %></li>
        <li><%= link_to 'Station 2', '/stations/2' %></li>
        <li><%= link_to 'Station 3', '/stations/3' %></li>
      </ul>
    </div>
  </div>
</div>
