<% content_for :title, "Control Panel" %>
<div class="station-stage">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="row">
          <div class="col text-center">
            <div class="station station-16-9" data-station="1"></div>
          </div>
          <div class="col text-center">
            <div class="station station-s station-4-3" data-station="2"></div>
          </div>
          <div class="col text-center">
            <div class="station station-m station-16-9" data-station="3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="image-library mt-5">
  <div class="container">
    <div class="row">
      <% @images.each do |image| %>
        <div class="col-md-2 col-4 mb-4">
          <%= image_tag image[:thumbnail], { class: 'img-fluid', "data-image": image_url(image[:filename]) } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'control-panel' %>
