<div class="container">
  <div class="row">
    <div class="col">
      <h1>Timelines</h1>
      <%= link_to 'Add a new timeline', new_timeline_path, class: 'btn btn-primary mb-3' %>
      <% @timelines.each do |timeline| %>
        <div class="timeline-preview border mb-2 p-2">
            <div class="title">
              <%= link_to(timeline) do
                timeline.title
              end %>
            </div>
            <div class="destroy">
              <%= link_to 'Delete', timeline, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
