// Place all the styles related to the Exhibits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.detailview-field {
  margin-bottom: 0.25em;
  .name {
    font-weight: bold;
    margin-right: 0.1em;
  }
  .value {
    display: inline-block;
    vertical-align: top;

    p {
      margin-bottom: 0;
    }
  }
}
