@import "colors";

$player-height: 40px;
$player-padding: 10px;

.timeline-control-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: $player-height;
  padding: $player-padding;
  background-color: $color-bar;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  font-size: 0.85em;

  .play-stop {
    width: $player-height;
    height: $player-height;
    border: none;
    border-radius: 50%;
    background-color: white;
    background-image: image-url('font-awesome/play-solid.svg');
    background-size: 60% 60%;
    background-position: 60% center;
    background-repeat: no-repeat;
    margin-right: 1.6em;

    &.playing {
      background-image: image-url('font-awesome/stop-solid.svg');
      background-position: center center;
    }
  }

  .custom-select-sm {
    min-width: 80px;
    border-radius: 1.1em;
    font-size: 0.95em;
    color: black;
    margin-right: 0.5em;
  }

  label {
    font-weight: bold;
    margin-right: 0.4em;
    margin-left: 0.6em;
  }

  .saving-icon {
    width: $player-height;
    height: $player-height;
    position: absolute;
    right: $player-padding;
    top: $player-padding;
    background-image: image-url('font-awesome/floppy-disk-regular-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 66%;
    opacity: 0.66;
  }
}
