@import "colors";

$thumbnail-ratio: 16 / 9;
$thumbnail-width: 130px;
$thumbnail-height: $thumbnail-width / $thumbnail-ratio;

body.timelines-view {
  height: 100%;
  width: 100%;
}

#timelineEditorApp {
  height: 100%;
}

.timeline-editor {
  display: flex;
  flex-direction: column;
  height: 100%;

  .exhibit-library {
    background-color: $color-bar;

    .exhibit-library-list {
      padding: 3px 15px 22px;
      font-size: 0;
      overflow: auto;
      background-color: $color-bar;
    }
  }

  .exhibit-library-droppable {
    display: inline-flex;
  }
}

.exhibit-thumbnail {
  display: block;
  width: $thumbnail-width;
  height: $thumbnail-height;

  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: $thumbnail-height;
  color: white;
  background-color: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid $color-panel;
}

.exhibit-library {
  .exhibit-thumbnail {
    margin: 0 15px 0 0;
  }
}

.exhibit-library-filters {
  margin: 10px;
  font-size: 0.85em;

  .custom-select-sm {
    min-width: 80px;
    border-radius: 1.1em;
    font-size: 0.95em;
    color: black;
    margin-right: 0.5em;
  }

  label {
    font-weight: bold;
    margin-right: 0.4em;
    margin-left: 0.6em;
  }
}

.station-scripts {
  display: flex;
  padding: 1em;
  height: 100%;
  overflow: auto;

  .station-script {
    display: block;
    margin: 0 1em 0 0;
    padding-bottom: 5em;

    .sequence {
      display: flex;
      flex-direction: column;
      padding: 10px;
      min-height: 100px;
      width: calc(#{$thumbnail-width} + 10px * 2);
      background-color: $color-panel;
      border-radius: 4px;

      .exhibit-thumbnail {
        margin-bottom: 10px;
      }

      .stationName {
        color: black;
        font-weight: bold;
        margin-bottom: 0.2em;
        font-size: 2em;
        line-height: 1;
        margin-top: -0.1em;
      }

      .droppable-area {
        min-height: $thumbnail-height * 0.5;
      }
    }
  }
}
